[package]
name = "kova-sdk"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
anyhow = { workspace = true }
reqwest = { workspace = true }
runtime = { path = "../../protocol/runtime" }

